.header{
    min-height: 100px;
    background-color: skyblue;
}
.wrapper{
    overflow: hidden;
}
.blog{
    height: 200px;
    background-color: red;
    width: 40%;
    float: left;

}
.contact{
    height: 200px;
    background-color: rgb(146, 124, 0);
    width: 60%;
    float: right;

}
.wrapper2{
    overflow: hidden;
}
.box{
    width: 33.33%;
    height: 100px;
    float: left;
    
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
    
}
.red{
    background-color: red;
}


.box1{
    width: 25%;
    height: 100px;
    float: left;

}
.blue{
    background-color: blue;

}
.aqua{
    background-color: aqua;
}

.black{
    background-color: black;
}
.pink{
    background-color: pink;
}



.footer{
    height: 100px;
    background-color: gray;
}


.box3{
    width: 250pt;
    height: 60pt;
    background-color: greenyellow;
}
.box4{
    width: 20em;
    height: 5em;
    background-color: lightslategray;
}
.box5{
    width: 20rem;
    height: 5rem;
    background-color: rgb(6, 35, 65);
    color: aliceblue;
}
.box6{
    width: 30%;
    height: 10%;
    background-color: rgb(218, 87, 0);
}
.box7{
    width: 200px;
    height: 200px;
    background-color: rgb(236, 8, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    border: 4px solid black;

}
.display{
    display: inline;
}
.d1{
    display: block;
}
.display2{
    display: inline-block;
}
input[type=checkbox] {
    accent-color: red;
  }
  
  input[type=radio] {
    accent-color: green;
  }
  
  input[type=range] {
    accent-color: rgb(0, 0, 255);
  }
  
  progress {
    accent-color: hsl(39, 100%, 50%);
  }
  #main {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  
  #main div {
    width: 70px;
    height: 70px;
  }
  #main {
    width: 220px;
    height: 300px;
    border: 1px solid black; 
    display: flex;
    align-items: center;
  }
  
  #main div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
  }

  #main {
    width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
  }
  
  #main div {
    flex: 1;
  }
  
  #myBlueDiv {
    align-self: center;}


